name: CI
on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v2

      - name: 构建
        run: |
          yarn
          yarn build

      - name: Format dir
        run: |
          rm -rf `ls *|egrep -v '(.git|public|.nojekyll|dist)'`
          cp ./public ./doc.

      - name: 部署Github Pages
        run: |
          git branch -v
          git config --global user.email "1162275271@qq.com"
          git config --global user.name "lblblong"
          git add .
          git commit -m "自动更新Demo"
          git checkout -b gh-pages
          git push origin gh-pages -f
